---
export interface Props {
  img: string;
  title: string;
  body: string;
}

const { img, title, body } = Astro.props as Props;
---

<article class="link-card d-flex flex-col bg-slate-200/30 rounded-xl">
  <img
    src={img}
    alt={title}
    class="max-w-12/12 md:max-w-8/12 h-[400px] md:h-[800px] 
    object-cover object-center overflow-hidden mx-auto rounded-xl"
  />

  <a href="">
    <h2 class="bold d-none">
      {title}
      <!-- <span>&rarr;</span> -->
    </h2>
    <p class="d-none"> 
      {body}
    </p>
  </a>
</article>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 0.15rem;
    background-image: var(--link-gradient);
    background-size: 400%;
    border-radius: 1rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    border-radius: 0.35rem;
    color: var(--text-color);
    opacity: 0.8;
    display: none;
  }

  h2 {
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 99;
  }

  p {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }

  h2 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: #4f39fa;
  }

  .link-card:is(:hover, :focus-within) h2 span {
    will-change: transform;
    transform: translateX(2px);
  }
</style>
