---
import Section from "./Section.astro";
---

<Section
  title="Construcción"
  subtitle="Construimos tus sueños"
  color="white"
  id="construccion"

  displayCard1="hidden"
  titleCard1=""
  boldCard1=""
  detailCard1=""

  displayCard2="inline-block"
  titleCard2="Titulo de prueba"
  boldCard2="Aspecto a destacar"
  detailCard2="Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, magni qui beatae ducimus modi, accusantium, totam vero non perspiciatis sapiente consequatur alias quas."

  displayCard3="hidden"
  titleCard3=""
  boldCard3=""
  detailCard3=""

  showCarousel = true
  CarId="Construccion"

  cards={[
  { img: "/images/Construccion/Construccion01.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion02.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion03.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion04.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion05.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion07.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion08.webp", title: "", body: "" },
  { img: "/images/Construccion/Construccion06.webp", title: "", body: "" },

  ]}
>
<div slot="footer">
  <a
    class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-28"
    href="#contacto"
  >
    Contacto</a
  >

  <div slot="after"></div>
</div>

  <img
    slot="background"
    alt="Construcción"
    class="h-full w-full object-cover object-center"
    src="construccion.webp"
    id="bg-image-construccion"
  />
</Section>
