---
import Section from "./Section.astro";
---

<!-- Home -->
<Section
  title="am & cm "
  subtitle="Arquitectura y Construcción Modular"
  color="white"
  id="home"
  displayCard1="inline-block"
  titleCard1="Arquitectura Modular"
  boldCard1="Arquitectos"
  detailCard1="Con amplia trayectoria en el desarrollo de proyectos arquitectónicos, regularizaciones y asesorías, nuestro equipo de arquitectos modulares está preparado para convertir tus ideas en realidad. Nos especializamos en diseños innovadores y sostenibles, adaptados a las necesidades específicas de cada cliente, garantizando funcionalidad y estética en cada proyecto."
  displayCard2="inline-block"
  titleCard2="Construcciones Modulares"
  boldCard2="Contamos con personal calificado"
  detailCard2="Para la ejecución de proyectos constructivos, ampliaciones y remodelaciones, nuestro equipo de construcción modular está compuesto por profesionales altamente capacitados. Nos dedicamos a entregar soluciones rápidas y eficientes, utilizando las técnicas más avanzadas y materiales de alta calidad para asegurar la durabilidad y el cumplimiento de plazos en todas nuestras obras."
  displayCard3="inline-block"
  titleCard3="Talleres Propios"
  boldCard3="En nuestros talleres desarrollamos y comercializamos"
  detailCard3="Corte y plegado de planchas de acero galvanizado, prepintado e inoxidable, hojalaterías, sellos de poliuretano y tornillos. Contamos con la infraestructura y el equipo técnico necesario para fabricar componentes modulares de alta precisión, asegurando que cada pieza cumpla con los más altos estándares de calidad. Nuestra capacidad de producción interna nos permite ofrecer productos personalizados y adaptados a las especificaciones de cada proyecto."
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-28 md:mb-24"
      href="#contacto"
    >
      Contacto</a
    >

    <div slot="after"></div>
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.mp4"></video>
</Section>

