---
import Section from "./Section.astro"
---

<Section
  title="Casa de montaña"
  subtitle="Agenda una visita"
  color="white"
  id="montania"
  
  displayCard1="hidden"
  titleCard1=""
  boldCard1=""
  detailCard1=""
  
  displayCard2="hidden"
  titleCard2=""
  boldCard2=""
  detailCard2=""
  
  displayCard3="hidden"
  titleCard3=""
  boldCard3=""
  detailCard3=""
>
<div slot="footer" class="gap-x-6 flex mx-auto mb-8">

  <a
  class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded 
  font-medium text-white px-2 lg:px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
    href="#"
  >
    Saber más</a
  >
  <a
  class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded 
  font-medium text-white px-2 lg:px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
  href="#contacto"
>
  Contacto</a
>
</div>

  <img
    slot="background"
    alt="Casa Montaña"
    class="h-full w-full object-cover object-center bg-image"
    src="montania.avif"
    id="bg-image-modely"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true
    } else {
      return false
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-modely"
  ) as HTMLImageElement

  if (isEdge()) {
    imageElement.src = "montania.webp"
  } else {
    imageElement.src = "montania.avif"
  }
</script>
