---
import Section from "./Section.astro"
---

<Section
  title="Proyectos"
  subtitle="Contemplamos todo lo que necesitas"
  color="white"
  id="proyectos"

  displayCard1="hidden"
  titleCard1=""
  boldCard1=""
  detailCard1=""
  
  displayCard2="hidden"
  titleCard2=""
  boldCard2=""
  detailCard2=""
  
  displayCard3="hidden"
  titleCard3=""
  boldCard3=""
  detailCard3=""

  showCarousel = true
  CarId="Proyectos"

  cards={[
  { img: "/images/Proyectos/Proyectos01.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos02.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos03.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos04.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos05.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos06.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos07.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos08.webp", title: "", body: "" },
  { img: "/images/Proyectos/Proyectos09.webp", title: "", body: "" },

  ]}
>
<div slot="footer">
  <a
    class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-28"
    href="#contacto"
  >
    Contacto</a
  >

  <div slot="after"></div>
</div>

  <img
    slot="background"
    alt="Proyectos"
    class="h-full w-full object-cover object-center"
    src="proyectos.webp"
    id="bg-image-proyectos"
  />
</Section>


